anytree==2.12.1
app-model==0.3.0
appdirs==1.4.4
atomicwrites==1.4.0
brainglobe-atlasapi==2.0.9
brainglobe_space==1.0.2
build==1.2.2
cachey==0.2.1
docstring_parser==0.16
edt==2.4.1
flexcache==0.3
flexparser==0.3.1
freetype-py==2.5.1
hsluv==5.0.4
in-n-out==0.2.1
jsonpointer==2.1
magicgui==0.9.1
meshio==5.3.5
napari==0.5.4
napari-console==0.1.0
napari-label-interpolator==0.1.1
napari-plugin-engine==0.2.0
napari-svg==0.2.0
npe2==0.7.7
nptyping==2.5.0
Pint==0.24.3
pooch==1.8.2
protobuf==3.20.3
psygnal==0.11.1
pyasn1-modules==0.2.8
pyconify==0.1.6
pydantic-compat==0.1.2
pyls-spyder==0.4.0
pynrrd==1.0.0
PyOpenGL==3.1.7
pyproject_hooks==1.2.0
PyQt5==5.15.10
PyQtWebEngine==5.15.6
setuptools==69.5.1
shellingham==1.5.4
superqt==0.6.7
tomli_w==1.0.0
treelib==1.7.0
trimesh==4.4.9
typer==0.12.5
vispy==0.14.3
wheel==0.43.0
